<footer class="site-footer">
  <div class="footer-left">
    <img class="footer-logo-img" src="{{ '/assets/logo.png' | relative_url }}" alt="Lippy Robotics">
    <div class="footer-logo-text">
      <span class="footer-logo-name">Lippy Robotics</span>
      <span class="footer-logo-sub">Articles</span>
    </div>
  </div>
  <div class="footer-links">
    <a class="footer-link" href="{{ site.main_site_url }}/">Main Site</a>
    <a class="footer-link" href="{{ '/' | relative_url }}">All Articles</a>
    <a class="footer-link" href="{{ site.main_site_url }}/privacy.html">Privacy Policy</a>
    <a class="footer-link" href="{{ site.main_site_url }}/terms.html">Terms of Use</a>
  </div>
</footer>
