<nav class="site-nav">
  <a class="nav-logo" href="{{ site.main_site_url }}/">
    <img class="nav-logo-img" src="{{ '/assets/logo.png' | relative_url }}" alt="Lippy Robotics">
    <div class="nav-logo-text">
      <span class="nav-logo-name">Lippy Robotics</span>
      <span class="nav-logo-sub">Articles</span>
    </div>
  </a>
  <ul class="nav-links">
    <li><a href="{{ site.main_site_url }}/">Home</a></li>
    <li><a href="{{ '/' | relative_url }}" class="active">Articles</a></li>
  </ul>
</nav>
